<h2>Created events (<%= @created_events.count %>)</h2>
  <ol>
    <% @created_events.each do |event| %>
        <li>
          <%= event.name %>
          <%= link_to 'Show', event %>
        </li>
        <li><%= event.date %></li>
    <% end %>
  </ol>
<br>
  <h2>Attended events (<%= @attended_events.count %>)</h2>
  
  <ol>
    <% @attended_events.each do |event| %>     
        <li>
        <%= event.name %>
        <%= link_to 'Show', event %>
        </li>
        <li><%= event.date %></li>     
    <% end %>
  </ol>
  