<p id="notice"><%= notice %></p>
<% if @events.future_events.any? %>
<%= render @events.future %>
<% else %>
 <h2> Events (0) </h2> 
 <%= link_to new_event_path do %>
 Add Event
 <% end %>
 <% end %>

 <h2>Past Events</h2>
 <% if @events.past_events.any? %>
<%= render @events.past %>
<% end %>

<h1>Events (<%= @future_events.count + @past_events.count%>)</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Description</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.location %></td>
        <td><%= event.description %></td>
        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <td><%= link_to 'Show', event %></td>
       </tr>
    <% end %>
  </tbody>
</table>

<br>
 <h2>Future Events (<%= @future_events.count%>)</h2>
<ul>
<% if @events.future_events.any? %>
     <tr>
        <td><%= event.name %></td>
        <td><%= event.location %></td>
        <td><%= event.description %></td>
        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <td><%= link_to 'Show', event %></td>
      </tr>
<% end %>
</ul>

 <h2>Past Events (<%= @past_events.count%>)</h2>
<ul>
<% if @events.past_events.any? %>
     <tr>
        <td><%= event.name %></td>
        <td><%= event.location %></td>
        <td><%= event.description %></td>
        <td><%= link_to 'Show', event %></td>
      </tr>
<% end %>
</ul>

